.card-container-class-flex, .button-flex{
    display: flex;
    justify-content: center;

}
.card-container-class{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Optional, can set a limit on max width */
    height: 100%; /* Optional, depends on design needs */
    z-index: 1;
    
  }
  .row{
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.7);
  }
  .hidden{
    display: none;
  }